.searchIcon {
  /* width: theme.spacing(7); */
  height: "100%";
  position: "absolute";
  pointer-events: "none";
  display: "flex";
  align-items: "center";
  justify-content: "center";
}

.search {
  position: "relative";
  margin-left: 0;
  width: "100%";
}
