.Noting {
  box-shadow: 0 2px 3px 2px #ccc;
  border: 1px solid #eee;
  box-sizing: border-box;
  height: 800px;
  width: 600px;
  right: 3px;
  position: absolute;
}

.Noting textarea {
  height: 770px;
  width: 580px;
  border-style: none;
}

.Noting input {
  width: 580px;
  border-style: none;
  font-weight: bold;
}
